	 	.mtn { 
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: relative;
		}
		.mtn span {
			margin-left: -998em;
			position: absolute;
		}
		.mtn:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-size: 0.8em;
			position: absolute; left: 3em; top: -1em; z-index: 99;
			margin-left: 0; width: 260px;
		} 
		
		.mtn:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 0.8em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		
		.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		

	 	.mtnn { 
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: relative;
		}
		.mtnn span {
			margin-left: -998em;
			position: absolute;
		}
		.mtnn:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-size: 0.8em;
			position: absolute; left: 15em; top: -1em; z-index: 99;
			margin-left: 0; width: 260px;
		} 
		
		.mtnn:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 0.8em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		
		a.tps {
		
   		position:relative; 
    	text-decoration:none;
		color:#030568;

		z-index:24;}
		
		a.tps:hover{z-index:26;}

		a.tps span{display: none}

		a.tps:hover span{ 
		font-size: 1.0em;
		position:absolute;
    	display:block;
    	top:2em; left:2em; width:18em;

    	background: #9FDAEE; border: 1px solid #2BB0D7;}

		a.tps:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 0.8em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		
		a.tpss {
		
   		position:relative; 
    	text-decoration:none;
		color:#030568;

		z-index:24;}
		
		a.tpss:hover{z-index:26;}

		a.tpss span{display: none}

		a.tpss:hover span{ 
		font-size: 1.0em;
		position:absolute;
    	display:block;
    	top:2em; left:2em; width:15em;
		
    	background: #8F8F7F; border: 1px solid #000000;}

		a.tpss:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 0.8em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		
		a.tpvideo {
		
   		position:relative; 
  		border-bottom: 1px dotted #000000; color: #000000; outline: none;
		text-decoration: none;
		position: relative;

		z-index:24;}
		
		a.tpvideo:hover{z-index:26;}

		a.tpvideo span{display: none}

		a.tpvideo:hover span{ 
		font-size: 1.0em;
		position:absolute;
    	display:block;
    	top:2em; left:2em; width:35em;
		}

		a.tpvideo:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 0.8em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		
		a.tpvideow {
		
   		position:relative; 
  		border-bottom: 1px dotted #000000; color: #000000; outline: none;
		text-decoration: none;
		position: relative;

		z-index:24;}
		
		a.tpvideow:hover{z-index:26;}

		a.tpvideow span{display: none}

		a.tpvideow:hover span{ 
		font-size: 1.0em;
		position:absolute;
    	display:block;
    	top:2em; left:2em; width:46em;
		}

		a.tpvideow:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 0.8em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
	


		
