<!DOCTYPE html> 
	<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style">
	<title>pork</title>
	<link rel="stylesheet" href="../css/jquerymobile-1.4.0.min.css">
	<link rel="stylesheet" href="../css/jquery.mobile-1.4.0.min.css">
	<link rel="stylesheet" href="../css/jqmobile.min.css">
	<link rel="stylesheet" href="../css/icons/style.css">
	<link href="../css/icons/icon.css" rel="stylesheet"><!--listviewcss-->
	<link rel="shortcut icon" href="favicon.ico">
	<!--copyiframe--><style type="text/css">
	.album{background-size:100%;background-repeat: no-repeat; }
	.fit-content{bottom:0px;top:44px;position:absolute;left:0;right:0;}
	.introcptalbum{position:absolute;bottom:0px;left:0px;width:100%;padding:18px;}
    @media all and (min-width: 1250px){.ifrwidth{min-width:1250px;min-height:680px;};}
	@media all and (min-width: 1020px) and (max-width: 1250px){.ifrwidth{width:100%;min-height:650px;}
	.ifrwidthpig{min-width:980px;};}
	@media all and (min-width: 768px) and (max-width: 1020px){.ifrwidth{width:100%;min-height:500px;}
	.ifrwidthpig{min-width:728px;};}
	@media all and (min-width: 601px) and (max-width: 768px){.ifrwidth{width:100%;min-height:405px;}
	.ifrwidthpig{min-width:568px;};}
	@media all and (min-width: 321px) and (max-width: 600px){.ifrwidth{width:100%;min-height:405px;}
	.ifrwidthpig{min-width:310px;};}
	@media all and (max-width: 320px){.ifrwidth{width:100%;min-height:350px;};}
	.tps tr,.tps td{border-top: 1px solid #000000;}
	</style><!--copyiframes-->
	<script src="../js/jquery.js"></script><script src="../js/mobileinit.js"></script>
	<script src="../js/jquery.mobile-1.4.0.min.js"></script><script src="../js/fastclick.js"></script>
	<!--copyiframe--><!--copyiframes-->
	<script>$(function(){FastClick.attach(document.body);});</script>
	</head>
	<body>
	<div data-role="page" class="page" data-theme="">
	<div  data-role="header" id="hrdiv" data-theme="" style="color:;background-image:url(images/albumhr.gif);background-size:100% 100%;">
	<a href="#navigations" id="menubttns"  data-rel="popup" class="ui-btn-left ui-btn ui-btn-inline  ui-btn-icon-left ui-icon-camera">&nbsp;&nbsp;&nbsp;</a><a href="#navigation"  id="menubttn"  data-rel="popup" class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-btn-icon-right ui-icon-bars">&nbsp;&nbsp;&nbsp;</a><h1 id="albumhr"></h1>
	</div>
	<div data-role="content" class="fit-content" style="background-image:url(images/albumbackground.gif);background-size:100%;background-repeat: repeat-y;">
	
	<div nbr="1" class="album" id="nb" style="width:100%;height:100%;position:relative;">
	
	<a href="#" nbr="0" class="albumr ui-btn ui-btn-z ui-btn-icon-notext ui-btn-inline ui-icon-carat-l" style="text-decoration:none;position:relative;left:12px;"></a>
	<a href="#" nbr="1" class="albuml ui-btn ui-btn-z  ui-btn-icon-notext  ui-btn-inline ui-icon-carat-r" style="text-decoration:none;float:right;"></a><!--webmodel[album]3.jpgimgcapt!-->
	
	
	</div>
	
	<div class="introcptalbum" style="background-color:rgba(255, 255, 255, 0.4);">
	<div style="color:red;" id="albumtilte"></div>
	<div id="introcptaudio">
	</div></div>
	</div><!-- /content -->

	<div id="popup1" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup1"  style="background-image:url(images/apopuppicbackground1.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup2" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup2"  style="background-image:url(images/apopuppicbackground2.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup3" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup3"  style="background-image:url(images/apopuppicbackground3.gif);background-size:100% 100%;background-repeat: no-repeat"></div></div>	
	<div id="popup4" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup4"  style="background-image:url(images/apopuppicbackground4.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup5" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup5"  style="background-image:url(images/apopuppicbackground5.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup6" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup6"  style="background-image:url(images/apopuppicbackground6.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup7" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup7"  style="background-image:url(images/apopuppicbackground7.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup8" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup8"  style="background-image:url(images/apopuppicbackground8.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup9" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup9"  style="background-image:url(images/apopuppicbackground9.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup10" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup10"  style="background-image:url(images/apopuppicbackground10.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup11" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup11"  style="background-image:url(images/apopuppicbackground11.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup12" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup12"  style="background-image:url(images/apopuppicbackground12.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup13" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup13"  style="background-image:url(images/apopuppicbackground13.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup14" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup14"  style="background-image:url(images/apopuppicbackground14.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup15" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup15"  style="background-image:url(images/apopuppicbackground15.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup16" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup16"  style="background-image:url(images/apopuppicbackground16.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup17" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup17"  style="background-image:url(images/apopuppicbackground17.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
	<div id="popup18" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><div class="ifrwidth" id="jsnpopup18"  style="background-image:url(images/apopuppicbackground18.gif);background-size:100% 100%;background-repeat: no-repeat;"></div></div>	
		
	<div id="navigations" data-role="popup"  data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" data-role="listview" data-corners="false"  id="uls" class="uls" data-inset="true">
	<li data-icon="bars"><a href="#navigationpanel" class="panelbtn" style="background-image:url(images/indexhtmls.gif);background-size:100% 100%;background-repeat: no-repeat;">&nbsp;</a></li>	
	</ul></div><!-- /navigation -->


	<div data-role="panel" data-display="overlay" id="navigationpanel" class="panel" data-theme="" style="background-image:url(images/albumbackground.gif);background-size:100%;background-repeat:repeat-y;">
    <ul style="min-width:210px;" data-role="listview" data-corners="false" data-inset="true">
	<li><a href="#navigationpanel" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-carat-l" style="background-image:url(images/albumpanel.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="close">&nbsp;&nbsp;</a></li>
	<li data-icon="calendar"><a href="../index.html" data-ajax="false" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m1">Calendar</a></li>
	<li data-icon="edit"><a href="../index.html#appagetwo" data-ajax="false" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m2">Form</a></li>
	<li data-icon="heart"><a href="../index.html#appagethree" data-ajax="false" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m3">QR Code</a></li>
	<li data-icon="tag"><a href="../playground.html" data-ajax="false" style="background-image:url(images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m4">Playground</a></li>
	<li data-icon="video"><a href="../index.html#appagefive" data-ajax="false" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m5">Video</a></li>
	<li data-icon="camera"><a href="../index.html#appagesix" data-ajax="false" style="background-image:url(images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m6">Album</a></li>
	<li data-icon="comment"><a href="../index.html#appageseven" data-ajax="false" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m7">Poster</a></li>
	</ul>
	<a href="#calendarpanelpopup" id="calendarpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-calendar" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="calendarpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulcalendarpanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#formpanelpopup" id="formpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-edit" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="formpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulformpanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#kisspanelpopup" id="kisspanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-heart" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="kisspanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulkisspanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#playpanelpopup" id="playpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-tag" style="background-image:url(images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="playpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulplaypanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#videopanelpopup" id="videopanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-video" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="videopanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulvideopanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#posterpanelpopup" id="posterpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-comment" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="posterpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulposterpanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	</div><!-- /panel -->
	
		
	<div id="navigation" data-role="popup"  data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" data-role="listview" data-corners="false"  data-inset="true">
	<li><a href="../index.html" data-ajax="false" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m1">Calendar</a></li>
	<li><a href="../index.html#appagetwo" data-ajax="false" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m2">Form</a></li>
	<li><a href="../index.html#appagethree" data-ajax="false" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m3">QR Code</a></li>
	<li><a href="../playground.html" data-ajax="false" style="background-image:url(images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m4">Playground</a></li>
	<li><a href="../index.html#appagefive" data-ajax="false" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m5">Video</a></li>
	<li><a href="../index.html#appagesix" data-ajax="false" style="background-image:url(images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m6">Album</a></li>
	<li><a href="../index.html#appageseven" data-ajax="false" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m7">Poster</a></li>
	</ul></div><!-- /navigation -->
	</div>
	</div><!--copyiframes--></body>
	</html>
<script src="js/theme.js"></script><script src="../js/menu.js"></script>	
<script> 
		(function($) {
		var infhref= localStorage.getItem('infhref');
		if(infhref.indexOf('http') == -1){infhref= 'http://'+infhref;}		
		if(infhref.substr(infhref.length - 1)=='/'){var fbclrphp = 'albumpopup.php';}else{var fbclrphp = '/albumpopup.php';}
		var webdir = localStorage.getItem("webdir");
		if(webdir){var urls = infhref+webdir+fbclrphp;}else{var urls = infhref+fbclrphp;}
		
		var j='';
		$.ajax({
   		type: 'GET',
    	url: urls,
    	async: false,
    	jsonpCallback: 'datps',
    	contentType: 'application/json',
    	dataType: 'jsonp'});})(jQuery);
		function datps(data) { var popupimg = [];var popuptle = [];var popupftr = [];
			for(var i=0; i < data.btns.length; i++) {
			j = i+1;
			popupimg= data.btns[i].img;
			popuptle = data.btns[i].tle;
			popupftr = data.btns[i].ftr;
				if(popupimg.length < 150 && popuptle.length < 1500 && popupftr.length < 5500){
				if(popupimg)popupimg = '<img style="width:100%" src="'+popupimg+'"/>';
				$('#jsnpopup'+j).html(popuptle+popupimg+popupftr);
				;}
			popupnbr='';popuptle='';popupftr='';
			}
		;};

						
		(function($) {
		var infhref= localStorage.getItem('infhref');
		if(infhref.indexOf('http') == -1){infhref= 'http://'+infhref;}		
		if(infhref.substr(infhref.length - 1)=='/'){var albumphp = 'album.php';}else{var albumphp = '/album.php';}
		var webdir = localStorage.getItem("webdir");
		if(webdir){var url = infhref+webdir+albumphp;}else{var url = infhref+albumphp;}		
		$.ajax({
   		type: 'GET',
    	url: url,
    	async: false,
    	jsonpCallback: 'datp',
    	contentType: 'application/json',
    	dataType: 'jsonp'});})(jQuery);

		function datp(data) { var albumurl = []; var albumtitle = []; var albumaudio = []; var albumaudiomp = [];
			for(var i=0; i < data.btn.length; i++) {
			if(data.btn[i].albumurl)albumurl[i] = data.btn[i].albumurl;
			if(data.btn[i].albumtitle)albumtitle[i]= data.btn[i].albumtitle;
			if(data.btn[i].albumaudio)albumaudio[i] = data.btn[i].albumaudio;
			if(data.btn[i].albumaudiomp)albumaudiomp[i] = data.btn[i].albumaudiomp;
			}
		
		var albumurlvar  = JSON.stringify(albumurl);
		var albumtitlevar  = JSON.stringify(albumtitle);
		var albumaudiovar  = JSON.stringify(albumaudio);
		var albumaudiompvar  = JSON.stringify(albumaudiomp);

		
		if(albumurlvar.length < 15500){
			localStorage['albumurl']=albumurlvar;
			if(albumtitle.length < 15500)localStorage['albumtitle']=albumtitlevar;
			if(albumaudio.length < 15500)localStorage['albumaudio']=albumaudiovar;
			if(albumaudiomp.length < 15500)localStorage['albumaudiomp']=albumaudiompvar;
		}
		
		}
 
		$(document).ajaxStop(function() {
		var albumurls = [];  var albumtitles = [];  var albumaudios = [];  var albumaudiomps = []; 
		var albumurlvlu = localStorage.getItem("albumurl");
		if(albumurlvlu){
		albumurls =  $.parseJSON(localStorage.getItem("albumurl"));
		$(".album").css("background-image",'url(' + albumurls[0] + ')');	
		var urlnbr = albumurls.length-1;}		
		if(!albumurlvlu || albumurlvlu.indexOf(',') == -1){$(".albumr").css('display','none');$(".albuml").css('display','none');}
		
		if(localStorage.getItem("albumtitle")){albumtitles =  $.parseJSON(localStorage.getItem("albumtitle"));
		$("#albumtilte").html(albumtitles[0]);}
		
		if(localStorage.getItem("albumaudio")){
		albumaudios =  $.parseJSON(localStorage.getItem("albumaudio"));
		albumaudiomps =  $.parseJSON(localStorage.getItem("albumaudiomp"));
		if(albumaudiomps[0] || albumaudios[0]){$("#introcptaudio").html('<audio controls loop id="audio"><source src="'+albumaudiomps[0]+'" id="mp" type="audio/mpeg"><source src="'+albumaudios[0]+'" id="wav" type="audio/wav"></audio>');}else{$("#introcptaudio").html('');}
		}
		
		if(!albumtitles[0] && !albumaudios[0])$(".introcptalbum").css("display","none");
		if(albumtitles[0] && !albumaudios[0])$("#introcptaudio").css("display","none");

		
		
function navleft(nbr,albumclass,phototn,url,title,audio,audiomp){
var nbrs = parseInt(nbr)+1;
if(nbrs>=phototn)nbrs=phototn;				
$(".album").css("background-image",'url(' + url + ')');
if(title || audiomp){$(".introcptalbum").css("display","");$("#albumtilte").html(title);}else{$(".introcptalbum").css("display","none");}
if(title && !audiomp){$("#introcptaudio").css("display","none");}
else if(audiomp){$("#introcptaudio").css("display","");}
if(audiomp){$("#introcptaudio").html('<audio controls loop id="audio"><source src="'+audiomp+'" id="mp" type="audio/mpeg"><source src="'+audio+'" id="wav" type="audio/wav"></audio>');}else{$("#introcptaudio").html('');}
;}
				
function navright(nbr,albumclass,url,title,audio,audiomp){
var nbrs = parseInt(nbr)-1;
if(!nbrs)nbrs=1;
$(".album").css("background-image",'url(' + url + ')');
if(title || audiomp){$(".introcptalbum").css("display","");$("#albumtilte").html(title);}else{$(".introcptalbum").css("display","none");}
if(title && !audiomp){$("#introcptaudio").css("display","none");}
else if(audiomp){$("#introcptaudio").css("display","");}
if(audiomp){$("#introcptaudio").html('<audio controls loop id="audio"><source src="'+audiomp+'" id="mp" type="audio/mpeg"><source src="'+audio+'" id="wav" type="audio/wav"></audio>');}else{$("#introcptaudio").html('');}
;};




$(".albumr").click(function(event){
event.preventDefault();
var nbr = $(this).attr("nbr");
navright(nbr,"album",albumurls[nbr],albumtitles[nbr],albumaudios[nbr],albumaudiomps[nbr]);
$(".albuml").attr("nbr",parseInt(nbr)+1);
nbr = parseInt(nbr)-1;
if(nbr==-1)nbr=0;$(this).attr("nbr",nbr);
})

$(".albuml").click(function(event){
event.preventDefault();
var nbr = $(this).attr("nbr");
navleft( nbr,"album",urlnbr,albumurls[nbr],albumtitles[nbr],albumaudios[nbr],albumaudiomps[nbr]);
$(".albumr").attr("nbr",parseInt(nbr)-1)
nbr = parseInt(nbr)+1;
if(nbr>urlnbr)nbr=urlnbr;
$(this).attr("nbr",nbr);
;})
;})/*ajaxS*/

$(".panelbtn").click(function(){$("#navigations").popup("close");});

var albummenu='';var slt='';
if(localStorage.getItem("albummenu"))albummenu =  $.parseJSON(localStorage.getItem("albummenu"));
var menusdir='';var menushtml='';var pigsmenu='';var pigsmenudir='';
if(localStorage.getItem('pigsmenudir')){pigsmenudir = '../';}else{pigsmenudir = '';}
for(var j=0;j < albummenu.length;j++){
if(j){menusdir = j+'/';}
if($("#albumhr").text()==albummenu[j]){slt='data-icon="check"';}else{slt='';}
if(!j){menushtml += '<li '+slt+'><a href="../index.html#appagesix" data-ajax="false" style="background-image:url(../images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtml += '<li '+slt+'><a href="'+pigsmenudir+menusdir+'album.html" data-ajax="false" style="background-image:url('+pigsmenudir+menusdir+'images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;}



if(menushtml){
albummenu = '';var menushtmlcalendar='';
if(localStorage.getItem("pigmenu"))albummenu =  $.parseJSON(localStorage.getItem("pigmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlcalendar += '<li data-icon="calendar"><a href="../index.html" data-ajax="false" style="background-image:url(../images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlcalendar += '<li data-icon="calendar"><a href="../'+j+'/indexs.html" data-ajax="false" style="background-image:url(../'+j+'/images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#calendarpanelpopupbtn').css('display','none');}

albummenu = '';var menushtmlform='';
if(localStorage.getItem("formmenu"))albummenu =  $.parseJSON(localStorage.getItem("formmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlform += '<li data-icon="edit"><a href="../index.html#appagetwo" data-ajax="false" style="background-image:url(../images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlform += '<li data-icon="edit"><a href="../'+j+'/form.html" data-ajax="false" style="background-image:url(../'+j+'/images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#formpanelpopupbtn').css('display','none');}

albummenu = '';var menushtmlks='';
if(localStorage.getItem("ksmenu"))albummenu =  $.parseJSON(localStorage.getItem("ksmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlks += '<li data-icon="heart"><a href="../index.html#appagethree" data-ajax="false" style="background-image:url(../images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlks += '<li data-icon="heart"><a href="../'+j+'/kiss.html" data-ajax="false" style="background-image:url(../'+j+'/images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#kisspanelpopupbtn').css('display','none');}

albummenu = '';var menushtmlplay='';
if(localStorage.getItem("pdmenu"))albummenu =  $.parseJSON(localStorage.getItem("pdmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlplay += '<li data-icon="tag"><a href="../playground.html" data-ajax="false" style="background-image:url(../images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlplay += '<li data-icon="tag"><a href="../'+j+'/playground.html" data-ajax="false" style="background-image:url(../'+j+'/images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#playpanelpopupbtn').css('display','none');}

albummenu = '';var menushtmlvideo='';
if(localStorage.getItem("vdmenu"))albummenu =  $.parseJSON(localStorage.getItem("vdmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlvideo += '<li data-icon="video"><a href="../index.html#appagefive" data-ajax="false" style="background-image:url(../images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlvideo += '<li data-icon="video"><a href="../'+j+'/video.html" data-ajax="false" style="background-image:url(../'+j+'/images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#videopanelpopupbtn').css('display','none');}



albummenu = '';var menushtmlposter='';
if(localStorage.getItem("postermenu"))albummenu =  $.parseJSON(localStorage.getItem("postermenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlposter += '<li data-icon="comment"><a href="../index.html#appageseven" data-ajax="false" style="background-image:url(../images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlposter += '<li data-icon="comment"><a href="../'+j+'/poster.html" data-ajax="false" style="background-image:url(../'+j+'/images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#posterpanelpopupbtn').css('display','none');}
;}//if(menushtml){

if(menushtml){$('#uls').append(menushtml);
	if(menushtmlcalendar)$('#ulcalendarpanelpopup').append(menushtmlcalendar);
	if(menushtmlform)$('#ulformpanelpopup').append(menushtmlform);
	if(menushtmlks)$('#ulkisspanelpopup').append(menushtmlks);
	if(menushtmlplay)$('#ulplaypanelpopup').append(menushtmlplay);
	if(menushtmlvideo)$('#ulvideopanelpopup').append(menushtmlvideo);
	if(menushtmlposter)$('#ulposterpanelpopup').append(menushtmlposter);	
	$('.uls').listview('refresh');}
else{$('#menubttns').css('display','none');}
</script>
