<!DOCTYPE html> 
	<html> 
	<head> 
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style">
	<link rel="stylesheet" href="css/jquerymobile-1.4.0.min.css">
	<link rel="stylesheet" href="css/jquery.mobile-1.4.0.min.css">
	<link rel="stylesheet" href="css/jqmobile.min.css">
	<link rel="stylesheet" href="css/icon/style.css">
	<style type="text/css">
	@media all and (min-width: 1250px){.playd{font-size:88px;}.playdw{font-size:144px;};}
			@media all and (min-width: 1020px) and (max-width: 1250px){.playd{font-size:66px;}.playdw{font-size:108px;};}
			@media all and (min-width: 768px) and (max-width: 1020px){.playd{font-size:44px;}.playdw{font-size:72px;};}
			@media all and (min-width: 601px) and (max-width: 768px){.playd{font-size:33px;}.playdw{font-size:54px;};}
			@media all and (min-width: 321px) and (max-width: 600px){.playd{font-size:28px;}.playdw{font-size:36px;};}
			@media all and (max-width: 320px){.playd{font-size:22px;}.playdw{font-size:26px;};}
	.ui-icon-nbr:after{background-image: url("css/images/nbr.svg");}
	.ui-icon-nbr:after{background-size: 18px 18px;}
	.ui-icon-pigpaper:after{background-image: url("css/images/pigpaper.svg");}
	.ui-icon-pigpaper:after{background-size: 18px 18px;}
	@media all and (min-width: 1250px){.ifrwidth{min-width:1250px;min-height:680px;};}
	@media all and (min-width: 1020px) and (max-width: 1250px){.ifrwidth{width:100%;min-height:650px;}
	.ifrwidthpig{min-width:980px;};}
	@media all and (min-width: 768px) and (max-width: 1020px){.ifrwidth{width:100%;min-height:500px;}
	.ifrwidthpig{min-width:728px;};}
	@media all and (min-width: 601px) and (max-width: 768px){.ifrwidth{width:100%;min-height:405px;}
	.ifrwidthpig{min-width:568px;};}
	@media all and (min-width: 321px) and (max-width: 600px){.ifrwidth{width:100%;min-height:405px;}
	.ifrwidthpig{min-width:310px;};}
	@media all and (max-width: 320px){.ifrwidth{width:100%;min-height:350px;};}
	</style>
	<script src="js/jquery.js"></script><script src="js/mobileinit.js"></script>
	<script src="js/jquery.mobile-1.4.0.min.js"></script>
	<script src="js/fastvclick.js"></script>
	<script>$(function(){Fastclick.attach(document.body);});</script>
	 
	</head>
	<body><div data-role="page" class="page" data-theme="" data-dom-cache="true">
	<div  data-role="header" id="hrdiv" data-theme="" style="color:;background-image:url(images/playhr.gif);background-size:100% 100%;">
	<a href="#navigations" id="menubttns"  data-rel="popup" class="ui-btn-left ui-btn ui-btn-inline  ui-btn-icon-left ui-icon-tag">&nbsp;&nbsp;&nbsp;</a><a href="#navigation"  id="menubttn"  data-rel="popup" class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-btn-icon-right ui-icon-bars">&nbsp;&nbsp;&nbsp;</a><h1 id="playbhr"></h1>
	</div>
	<div data-role="content" style="background-image:url(images/playbackground.gif);background-size:100%;background-repeat:repeat-y;">
	<a href="playground.html" data-ajax="false" class="ui-btn ui-icon-refresh ui-btn-icon-notext ui-btn-inline">Refresh</a>
	<a href="#"  class="ui-btn ui-icon-nbr ui-btn-icon-notext ui-btn-inline" id="sign">Sign</a>
	<a href="#"  class="ui-btn ui-icon-pigpaper ui-btn-icon-notext ui-btn-inline" id="nbr">Number</a>	
	<a href="#"  class="ui-btn ui-icon-bullets ui-btn-inline  ui-btn-icon-notext" id="playr"></a>
	<a href="#"  class="ui-btn ui-icon-grid ui-btn-icon-notext ui-btn-inline" id="popw"></a>
	<a href="index.html#appagethree" id="kshref" data-ajax="false" class="ui-btn ui-icon-heart ui-btn-icon-notext ui-btn-inline"></a>
	<a href="#kspopup" id="ks" data-rel="popup" class="ui-btn ui-icon-heart ui-btn-icon-notext ui-btn-inline"></a>
	<div id="kspopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" data-role="listview" data-corners="false" id="kspopupuls" class="uls" data-inset="true">
	</ul></div><!-- /navigation -->

	<div class="ui-grid-a" style="">
	<div class="ui-block-a"><a href="#popup" class="ui-btn playdw" data-rel="popup" style="color:red;background-image:url(images/result1.gif);background-size:100% 100%;" pigs="" id="piga"></a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn playdw" data-rel="popup" style="color:red;background-image:url(images/result2.gif);background-size:100% 100%;" pigs="" id="pigb"></a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#" class="ui-btn ui-icon-user ui-btn-icon-left playd" id="player1"  style="color:red;background-image:url(images/player1.gif);background-size:100% 100%;"></a></div>
	<div class="ui-block-b"><a href="#" class="ui-btn ui-icon-user ui-btn-icon-right playd" id="player2"  style="color:red;background-image:url(images/player2.gif);background-size:100% 100%;"></a></div>
	</div>
	
	<hr>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p1" style="background-image:url(images/playground1.gif);background-size:100% 100%;">1</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p2" style="background-image:url(images/playground2.gif);background-size:100% 100%;">2</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p3" style="background-image:url(images/playground3.gif);background-size:100% 100%;">3</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p4" style="background-image:url(images/playground4.gif);background-size:100% 100%;">4</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p5" style="background-image:url(images/playground5.gif);background-size:100% 100%;">5</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p6" style="background-image:url(images/playground6.gif);background-size:100% 100%;">6</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p7" style="background-image:url(images/playground7.gif);background-size:100% 100%;">7</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p8" style="background-image:url(images/playground8.gif);background-size:100% 100%;">8</a></div>
	</div>
	
	<hr>
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p9" style="background-image:url(images/playground9.gif);background-size:100% 100%;">9</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p10" style="background-image:url(images/playground10.gif);background-size:100% 100%;">10</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p11" style="background-image:url(images/playground11.gif);background-size:100% 100%;">11</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p12" style="background-image:url(images/playground12.gif);background-size:100% 100%;">12</a></div>
	</div>

	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p13" style="background-image:url(images/playground13.gif);background-size:100% 100%;">13</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p14" style="background-image:url(images/playground14.gif);background-size:100% 100%;">14</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p15" style="background-image:url(images/playground15.gif);background-size:100% 100%;">15</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p16" style="background-image:url(images/playground16.gif);background-size:100% 100%;">16</a></div>
	</div>
	<hr>
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p17" style="background-image:url(images/playground17.gif);background-size:100% 100%;">17</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p18" style="background-image:url(images/playground18.gif);background-size:100% 100%;">18</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p19" style="background-image:url(images/playground19.gif);background-size:100% 100%;">19</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p20" style="background-image:url(images/playground20.gif);background-size:100% 100%;">20</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p21" style="background-image:url(images/playground21.gif);background-size:100% 100%;">21</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p22" style="background-image:url(images/playground22.gif);background-size:100% 100%;">22</a></div>
	</div>
	
<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p23" style="background-image:url(images/playground23.gif);background-size:100% 100%;">23</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p24" style="background-image:url(images/playground24.gif);background-size:100% 100%;">24</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p25" style="background-image:url(images/playground25.gif);background-size:100% 100%;">25</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p26" style="background-image:url(images/playground26.gif);background-size:100% 100%;">26</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p27" style="background-image:url(images/playground27.gif);background-size:100% 100%;">27</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p28" style="background-image:url(images/playground28.gif);background-size:100% 100%;">28</a></div>
	</div>
	
	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p29" style="background-image:url(images/playground29.gif);background-size:100% 100%;">29</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p30" style="background-image:url(images/playground30.gif);background-size:100% 100%;">30</a></div>
	</div>	

	<div class="ui-grid-a">
	<div class="ui-block-a"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-left playd" data-rel="popup" id="p31" style="background-image:url(images/playground31.gif);background-size:100% 100%;">31</a></div>
	<div class="ui-block-b"><a href="#popup" class="ui-btn ui-icon-heart ui-btn-icon-right playd" data-rel="popup" id="p32" style="background-image:url(images/playground32.gif);background-size:100% 100%;">32</a></div>
	</div>
	
	<div id="popup" data-role="popup"  data-transition="pop" data-corners="false" class="ifrwidthpig"><img style="width:100%" id="img" src=""/></div>

	<div id="navigations" data-role="popup"  data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" data-role="listview" data-corners="false"  id="uls" data-inset="true">
	<li data-icon="bars"><a href="#navigationpanel" class="panelbtn" style="background-image:url(images/indexhtmls.gif);background-size:100% 100%;background-repeat: no-repeat;">&nbsp;</a></li>	
	</ul></div><!-- /navigation -->


	<div data-role="panel" data-display="overlay" id="navigationpanel" class="panel" data-theme="" style="background-image:url(images/playbackground.gif);background-size:100%;background-repeat:repeat-y;">
    <ul style="min-width:210px;" data-role="listview" data-corners="false" data-inset="true">
	<li><a href="#navigationpanel" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-carat-l" style="background-image:url(images/playpanel.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="close">&nbsp;&nbsp;</a></li>
	<li data-icon="calendar"><a href="index.html" data-ajax="false" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m1">Football calendar</a></li>
	<li data-icon="edit"><a href="form.html" data-ajax="false" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m2">Form</a></li>
	<li data-icon="heart"><a href="kiss.html" data-ajax="false" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m3">QR Code</a></li>
	<li><a href="playground.html" data-ajax="false" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check" style="background-image:url(images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m4">Playground</a></li>
	<li data-icon="video"><a href="video.html" data-ajax="false" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m5">Video</a></li>
	<li data-icon="camera"><a href="album.html" data-ajax="false" style="background-image:url(images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m6">Album</a></li>
	<li data-icon="comment"><a href="poster.html" data-ajax="false" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m7">Poster</a></li>
	</ul>
	<a href="#calendarpanelpopup" id="calendarpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-calendar" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="calendarpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulcalendarpanelpopup" class="uls" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#formpanelpopup" id="formpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-edit" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="formpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulformpanelpopup" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#kisspanelpopup" id="kisspanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-heart" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="kisspanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulkisspanelpopup" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#videopanelpopup" id="videopanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-video" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="videopanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulvideopanelpopup" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#albumpanelpopup" id="albumpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-camera" style="background-image:url(images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="albumpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulalbumpanelpopup" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	<a href="#posterpanelpopup" id="posterpanelpopupbtn" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-notext ui-icon-comment" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" data-rel="popup">&nbsp;&nbsp;</a>
	<div id="posterpanelpopup" data-role="popup" data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" id="ulposterpanelpopup" data-role="listview" data-corners="false" data-inset="true">
	</ul></div>
	</div><!-- /panel -->
	
			
	<div id="navigation" data-role="popup"  data-transition="pop" data-theme="none">
	<ul style="min-width:210px;" data-role="listview" data-corners="false"  data-inset="true">
	<li><a href="index.html"  data-ajax="false" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m1">Calendar</a></li>
	<li><a href="index.html#appagetwo" data-ajax="false" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m2">Form</a></li>
	<li><a href="index.html#appagethree" data-ajax="false" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m3">QR Code</a></li>
	<li data-icon="check"><a href="playground.html" data-ajax="false" style="background-image:url(images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m4">Playground</a></li>
	<li><a href="index.html#appagefive" data-ajax="false" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m5">Video</a></li>
	<li><a href="index.html#appagesix" data-ajax="false" style="background-image:url(images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m6">Album</a></li>
	<li><a href="index.html#appageseven" data-ajax="false" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;" class="m7">Poster</a></li>
	</ul></div><!-- /navigation -->
	</div></body>
	</html>
	<script src="js/theme.js"></script><script src="js/menu.js"></script>
	<script>
	$("#sign").click(function(event){event.preventDefault();localStorage.setItem('playground','1');window.location='playground.html';});
	$("#nbr").click(function(event){event.preventDefault();localStorage.setItem('playground','');window.location='playground.html';});
	
	$("#playr").click(function(event){event.preventDefault();if(localStorage.getItem('playr')){localStorage.setItem('playr','');}else{localStorage.setItem('playr','1');};window.location='playground.html';});
	if(localStorage.getItem('playr')){$("#playr").removeClass('ui-icon-bullets').addClass('ui-icon-recycle');};
	
	$("#popw").click(function(event){event.preventDefault();if(localStorage.getItem('playshw')){localStorage.setItem('playshw','');}else{localStorage.setItem('playshw','1');};window.location='playground.html';});
	if(localStorage.getItem('playshw')){$("#popw").removeClass('ui-icon-grid').addClass('ui-icon-action');};
	
	var playground = localStorage.getItem('playground');
	var playr = localStorage.getItem('playr');
	var playshw = localStorage.getItem('playshw');
		
	var tm = '';var tmp ='';
	if(playground==1){tm = 30;tmp = 32;}else{tm = 32;tmp = 32;};
	
	setInterval(function() {
	var pig = Math.ceil(Math.random() * tm);
	$('#player1').text(pig);},50);
	setInterval(function() {
	var pig = Math.ceil(Math.random() * tm);
	$('#player2').text(pig);},50);
	
	if(playground==1){
		$("#sign").removeClass('ui-icon-nbr').addClass('');var styclr = '';var nbrclick = '';var nbrclicks = '';var styclrs= '';
		$("#player1").click(function(event){event.preventDefault();var rlt = '';var vlu = Math.ceil(Math.random() * tm);
		nbrclick++;
		if(nbrclick/2==parseInt(nbrclick/2)){styclr = 'style="color:red"';}else{styclr = 'style="color:blue"';}
		if(vlu <= 10){rlt = '<span class="pigs-rock" '+styclr+'></span>';}else if(vlu > 10 && vlu <= 20){rlt = '<span class="pigs-scissors" '+styclr+'></span>';}else if(vlu > 20 && vlu <= 30){rlt = '<span class="pigs-paper" '+styclr+'></span>';}
		$("#piga").html(rlt);});
		
		$("#player2").click(function(event){event.preventDefault();var rlt = '';var vlu = Math.ceil(Math.random() * tm);
		nbrclicks++;
		if(nbrclicks/2==parseInt(nbrclicks/2)){styclrs = 'style="color:blue"';}else{styclrs = 'style="color:red"';}
		if(vlu <= 10){rlt = '<span class="pigs-rock" '+styclrs+'></span>';}else if(vlu > 10 && vlu <= 20){rlt = '<span class="pigs-scissors" '+styclrs+'></span>';}else if(vlu > 20 && vlu <= 30){rlt = '<span class="pigs-paper" '+styclrs+'</span>';}
		$("#pigb").html(rlt);});

	}else{
		$("#nbr").removeClass('ui-icon-pigpaper').addClass('');	
		
		$("#player1").click(function(event){event.preventDefault();var pigalu = Math.ceil(Math.random() * tm); 
							$("#piga").html(pigalu);$("#piga").attr('pigs',pigalu);});
		$("#player2").click(function(event){event.preventDefault();var pigblu = Math.ceil(Math.random() * tm);
							$("#pigb").html(pigblu);$("#pigb").attr('pigs',pigblu);});
	}
	
	if(playr==1){		
		$(".playd").click(function(){$("#img").attr("src","images/ishow"+(Math.ceil(Math.random() * tmp))+".gif");});
	}else{
		$(".playd").click(function(){$("#img").attr("src","images/ishow"+$(this).attr('id').replace('p','')+".gif");});
	}
	

	
	if(playshw==1 && playr==1 && playground==1){	
		
		$("#piga").click(function(){$("#img").attr("src","images/ishow"+(Math.ceil(Math.random() * tmp))+".gif");});
		$("#pigb").click(function(){$("#img").attr("src","images/ishow"+(Math.ceil(Math.random() * tmp))+".gif");});
	
	}else if(playshw==1 && !playr && !playground){		
		
		$("#piga").click(function(){$("#img").attr("src","images/ishow"+$(this).attr('pigs')+".gif");});
		$("#pigb").click(function(){$("#img").attr("src","images/ishow"+$(this).attr('pigs')+".gif");});
		
	}else{
		$("#piga").attr('href','#');
		$("#pigb").attr('href','#');
	}
	
	if(playshw==1 && !playr==1 && playground==1){	
		localStorage.setItem('playshw','');window.location='playground.html';
	;}
	
	if(playshw==1 && playr==1 && !playground){		
		localStorage.setItem('playshw','');window.location='playground.html';
	;}

$(".panelbtn").click(function(){$("#navigations").popup("close");});

	
var albummenu='';var slt='';
if(localStorage.getItem("pdmenu"))albummenu =  $.parseJSON(localStorage.getItem("pdmenu"));
var menusdir='';var menushtml='';var pigsmenu='';var pigsmenudir='';
if(localStorage.getItem('pigsmenudir')){pigsmenudir = '../';}else{pigsmenudir = '';}
for(var j=0;j < albummenu.length;j++){
if(j)menusdir = j+'/';
if($("#playbhr").text()==albummenu[j]){slt='data-icon="check"';}else{slt='';}
if(albummenu[j]){menushtml += '<li '+slt+'><a href="'+pigsmenudir+menusdir+'playground.html" data-ajax="false" style="background-image:url('+pigsmenudir+menusdir+'images/playgroundhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;}

if(!menushtml)$('#ks').css('display','none');

if(menushtml){
albummenu = '';var menushtmlcalendar='';
if(localStorage.getItem("pigmenu"))albummenu =  $.parseJSON(localStorage.getItem("pigmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlcalendar += '<li data-icon="calendar"><a href="index.html" data-ajax="false" style="background-image:url(images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlcalendar += '<li data-icon="calendar"><a href="'+j+'/indexs.html" data-ajax="false" style="background-image:url('+j+'/images/indexhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#calendarpanelpopupbtn').css('display','none');}

albummenu = '';var menushtmlform='';
if(localStorage.getItem("formmenu"))albummenu =  $.parseJSON(localStorage.getItem("formmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlform += '<li data-icon="edit"><a href="index.html#appagetwo" data-ajax="false" style="background-image:url(images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlform += '<li data-icon="edit"><a href="'+j+'/form.html" data-ajax="false" style="background-image:url('+j+'/images/formhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#formpanelpopupbtn').css('display','none');}

albummenu = '';var menushtmlks='';
if(localStorage.getItem("ksmenu"))albummenu =  $.parseJSON(localStorage.getItem("ksmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlks += '<li data-icon="heart"><a href="index.html#appagethree" data-ajax="false" style="background-image:url(images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlks += '<li data-icon="heart"><a href="'+j+'/kiss.html" data-ajax="false" style="background-image:url('+j+'/images/kisshtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#kisspanelpopupbtn').css('display','none');}

if(albummenu.length==1){$('#ks').css('display','none');}else{$('#kshref').css('display','none');}

albummenu = '';var menushtmlvideo='';
if(localStorage.getItem("vdmenu"))albummenu =  $.parseJSON(localStorage.getItem("vdmenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlvideo += '<li data-icon="video"><a href="index.html#appagefive" data-ajax="false" style="background-image:url(images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlvideo += '<li data-icon="video"><a href="'+j+'/video.html" data-ajax="false" style="background-image:url('+j+'/images/videohtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#videopanelpopupbtn').css('display','none');}


albummenu = '';var menushtmlalbum='';
if(localStorage.getItem("albummenu"))albummenu =  $.parseJSON(localStorage.getItem("albummenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlalbum += '<li data-icon="camera"><a href="index.html#appagesix" data-ajax="false" style="background-image:url(images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlalbum += '<li data-icon="camera"><a href="'+j+'/album.html" data-ajax="false" style="background-image:url('+j+'/images/albumhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#albumpanelpopupbtn').css('display','none');}


albummenu = '';var menushtmlposter='';
if(localStorage.getItem("postermenu"))albummenu =  $.parseJSON(localStorage.getItem("postermenu"));
if(albummenu && albummenu.length > 1){for(var j=0;j < albummenu.length;j++){
if(!j){menushtmlposter += '<li data-icon="comment"><a href="index.html#appageseven" data-ajax="false" style="background-image:url(images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}else if(albummenu[j]){menushtmlposter += '<li data-icon="comment"><a href="'+j+'/poster.html" data-ajax="false" style="background-image:url('+j+'/images/posterhtml.gif);background-size:100% 100%;background-repeat: no-repeat;">'+albummenu[j]+'</a></li>';}
;};}else{$('#posterpanelpopupbtn').css('display','none');}
;}//if(menushtml){

if(menushtml){$('#uls').append(menushtml);
	$('#kspopupuls').append(menushtmlks);
	if(menushtmlcalendar)$('#ulcalendarpanelpopup').append(menushtmlcalendar);
	if(menushtmlform)$('#ulformpanelpopup').append(menushtmlform);
	if(menushtmlks)$('#ulkisspanelpopup').append(menushtmlks);
	if(menushtmlvideo)$('#ulvideopanelpopup').append(menushtmlvideo);
	if(menushtmlalbum)$('#ulalbumpanelpopup').append(menushtmlalbum);
	if(menushtmlposter)$('#ulposterpanelpopup').append(menushtmlposter);
	
	$('.uls').listview('refresh');}
else{$('#menubttns').css('display','none');}
	</script>